@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

body {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    background-color:#603F26;
    margin: 0; 
}

.login-bar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #A67B5B;
    color: #FFEAC5;
    padding: 10px 20px; 
}

.name {
    margin: 0; 
    font-size: 24px; 
    color: #FFEAC5;
}

/* .login-bar {
    background-color: #ff5722;
    color: antiquewhite;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
} */

.container {
    background-color: #FFDBB5;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.heading {
    font-family: "Space Grotesk", sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color: #603F26;
    margin-bottom: 20px;
}

#quiz-container {
    margin-bottom: 20px;
    color: #603F26;
}

.question {
    background-color: #FFDBB5;
    border: 2px solid #FFEAC5;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.question h3 {
    color: #603F26;
    margin-bottom: 10px;
}

.options {
    list-style-type: none;
}

.option {
    background-color: #FFEAC5;
    border: 1px solid #ECB176;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    /* cursor: pointer; */
    transition: background-color 0.3s ease;
}

/* .option:hover {
    background-color: #ECB176;
} */

/* .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#pageInfo {
    color: #603F26;
    font-weight: bold;
} */

.btn {
    background-color: #603F26;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    color: #603F26;
    background-color: #FFEAC5;
}